.wrapper {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}
.text {
  font-size: 20px;
  margin-right: 14px;
}
.total {
  width: 20px;
  height: 20px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid bleak;
  border-radius: 50%;
  background: #eb5757;
  background: -webkit-linear-gradient(to right, #eb5757, #000000);
  background: linear-gradient(to right, #eb5757, #000000);
  color: white;
}
